.home{
    margin-top: 15px;
    position: relative;
}

.home .brand-name{
    display: none;
}

.home h1{
    font-weight: 800;
}

.home img{
    position: relative;
    z-index: 1;
}

.home p{
    margin: 14px 0;
}
.home .dynamic-text{
    height: 28px;
    overflow: hidden;
    display: inline-block;
    margin: 0 -10px -5px 0;
}
.home .dynamic-text li{
    color: var(--primary-green);
    position: relative;
    top: 0;
    animation: slide 6s steps(3) infinite;
    text-align: left;
}
@keyframes slide {
    100%{
        top: -87px;
    }
}
.home .dynamic-text li span{
    position: relative;
}
.home .dynamic-text li span::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-left: 2px solid;
    animation: typing 2s steps(7) infinite;
}

@keyframes typing {
    90%{
        background: #fff;
    }
    60%{
        left: 100%;
        margin: 0 -17px 0 17px;
    }
}



/* Animation */

.box-area{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.box-area li{
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    background: rgba(156, 156, 156, 0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
}
.box-area li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.box-area li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.box-area li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}.box-area li:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}.box-area li:nth-child(4){
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}.box-area li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}.box-area li:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}
@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 1;
    }
}


/* End animation */




@media(min-width: 768px){
    .home .brand-name{
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }.home .flex{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        flex-wrap: unset;
    }
}
@media(min-width: 1130px){
    .home .container{
        margin-right: 0;
    }
    .home .col-md-5{
        padding-right: 100px;
    }
    .home h1{
        font-size: 2.3rem;
    }
    .home .dynamic-text{
        height: 41px;
    }
    @keyframes slide {
        100%{
            top: -140px;
        }
    }
}